{% extends "base.html" %}
{% block content %}



    <h2 id="sec-title" class="title">Descubrí nuestra parrilla & experiencias</h2>



    <div class="cards" role="list">
        <!-- Tarjeta 1 -->
        <article class="card" role="listitem">
            <div class="card__media">
                <img class="card__image"
                    src="{{url_for('static', filename='img/local1.jpeg')}}"
                    alt="La mejor puesta de sol" />
                <span class="badge" aria-label="El mejor lugar">Gouin</span>
            </div>
            <div class="card__body">
                <h3 class="card__title">
                    Atardecer en calma: el alma de Gouin.
                </h3>
                <p class="card__desc">Nada anuncia mejor el inicio de una experiencia en Obopóp que este atardecer dorado sobre los campos de Gouin.</p>
                <div class="chips">
                    <span class="chip">AtardecerEnGouin</span>
                    <span class="chip">MagiaRural</span>
                    <span class="chip">ObopopVives</span>
                </div>

            </div>
        </article>


        <!-- Tarjeta 2 -->
        <article class="card" role="listitem">
            <div class="card__media">
                <img class="card__image"
                    src="{{url_for('static', filename='img/local2.jpeg')}}"
                    alt="Entrada obopóp de Gouin" />
                <span class="badge" aria-label="Diseño e innovacion">Presentacion</span>
            </div>
            <div class="card__body">
                <h3 class="card__title">
                    Donde empieza la historia: Bienvenidos a Obopóp.
                </h3>
                <p class="card__desc">Así se abre el portal a Obopóp, donde cada detalle tiene una historia y cada visita, un recuerdo.</p>
                <div class="chips">
                    <span class="chip">EntradaConEncanto</span>
                    <span class="chip">ObopopDeGouin</span>
                    <span class="chip">EstiloCampestre</span>
                </div>

            </div>
        </article>


        <!-- Tarjeta 3 -->
        <article class="card" role="listitem">
            <div class="card__media">
                <img class="card__image"
                    src="{{url_for('static', filename='img/local3.jpeg')}}"
                    alt="Entrada a Obopóp" />
                <span class="badge" aria-label="Cava">Resto</span>
            </div>
            <div class="card__body">
                <h3 class="card__title">
                    Obopóp: El rincón donde el pasado cobra vida.
                </h3>
                <p class="card__desc">Cada botón, perilla y objeto antiguo que ves acá fue encontrado, rescatado y traído con amor. Esta fachada no es solo una puerta: es una declaración de lo que somos, una capsula del tiempo, un homenaje a lo simple y lo hermoso.
                </p>
                <div class="chips">
                    <span class="chip">AntiguedadesConEstilo</span>
                    <span class="chip">FachadaConHistoria</span>
                    <span class="chip">ObsoletosConAlma</span>
                </div>

            </div>
        </article>


        <!-- Tarjeta 4 -->
        <article class="card" role="listitem">
            <div class="card__media">
                <img class="card__image"
                    src="{{url_for('static', filename='img/local4.jpeg')}}"
                    alt="Comida de campo para disfrutar" />
                <span class="badge" aria-label="Comida">Comidas</span>
            </div>
            <div class="card__body">
                <h3 class="card__title">
                    Sabores que cuentan historias.
                </h3>
                <p class="card__desc">No hay visita completa a Obopóp sin probar nuestras hamburguesas artesanales. Cuatro tamaños, una sola filosofía: comida hecha con ganas, con ingredientes reales y con ese toque casero que solo se encuentra en los mejores rincones de la provincia.</p>
                <div class="chips">
                    <span class="chip">HamburguesasDePueblo</span>
                    <span class="chip">SaborAuténtico</span>
                    <span class="chip">ComéEnObopóp</span>
                </div>

            </div>
        </article>
    </div>





{% endblock %}